.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.log
*.aux
*.pdf
data/carbon.txt
data/carbon2.txt
data/carbon3.txt
data/automobile.txt
data/heightweight.data
verification_*
Rcourse.Rcheck
tests/testthat/_snaps/